html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", serif;
}

.header {
  padding: 50px 125px;
  display: flex;
  justify-content: space-evenly;
  background-color: #F8CB00;
  border-top: 5px solid #6364D8;
  align-items: center;
}

.header__title {
  color: white;
  flex: 1;
}

.header__search {
  flex: 2;
  margin-right: 20px;
  border-radius: 5px;
  border: 0;
  padding: 20px 0 20px 50px;
}

.header__cart {
  width: 175px;
  background-color: #6364D8;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  display: flex;
}

.main {
  display: flex;
}

.sidebar, .content {
  padding: 40px 0;
}

.sidebar {
  padding-left: 125px;
  height: 100vh;
  width: 420px;
}

.products {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 30px;
  row-gap: 40px;
}

.product {
  padding: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 14px 7px rgba(121,121,121,0.05);
}

.product__price {
  color: #F8CB00;
}

.category {
  display: block;
  color: rgba(0,0,0,0.72);
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 20px;
}

.category--active {
  color: #F8CB00;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
}

.modal {
  width: 900px;
  height: 580px;
  margin: auto;
  background-color: white;
  position: relative;
  box-shadow: 0 16px 34px 7px rgba(121,121,121,0.1);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal__content {
  display: flex;
  flex: 1;
}

.modal__top {
  display: flex;
  justify-content: flex-end;
}

.modal__left, .modal__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__bottom {
  display: flex;
  justify-content: center;
}

.modal__image {
  width: 390px;
  height: 390px;
}

.modal__more-details {
  cursor: pointer;
  color: #585858;
  border: 0;
  border-bottom: 1px dashed #585858;
}

.modal__price {
  color: #F8CB00;
}

